---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
html {
  @media (prefers-color-scheme: light) {
    &:not([data-mode]),
    [data-mode=light] {
      @include dark-syntax;

      .highlight pre span { font-weight: normal !important; font-style: normal !important;}
      .highlight .ge { color: inherit; font-style: italic; }

      --highlighter-rouge-color: #2f2f2f;
      --inline-code-bg: #f3f3f3;
      [class^=prompt-] {
        --inline-code-bg: #fbfafa;
        --highlighter-rouge-color: rgb(82 82 82);
      }
    }
  }
}

.highlight {
  pre {
    line-height: 1.2rem;
  }
} /* .highlight */

.code-header {
  $code-header-height: 1.5rem;
}
